body {
    background: #333
        url(image) center center no-repeat;
    background-size: cover;
    color: rgb(11, 129, 110);
}

#container {
    width: 400px;
    margin: 40px auto 0;
    padding: 50px;
    box-sizing: border-box;
    background: url(image) top left repeat;
    box-shadow: 0 10px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-bordeer-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #ddd;
}

form {
    text-align: left;
}

form label {
    display: block;
    font-weight: bold;
    margin: 26px 0;
}

form input,
form select {
    padding: 8px;
    margin: 10px 0;
}

form input [type="text"] {
    width: 90px;
}

button {
    background: #6c2726;
    color: white;
    border: none;
    border-radius: 20px;
    border-bottom: 4 sli #222;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
}

button:hover {
    background: #4c2827;
    border-bottom-color: #111;
}

button::after {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 50px;
    margin-top: 40px;

}

#totalTip::before {
    content: "Tip Amount";
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 24px;
    top: -18px;
}

#totalTip small {
    font-size: 14px;
    font-weight: bold;
    display: block;
}